body {
    height: 100vh;
    margin: 0;
    background-color: gray;
    display: flex;
    flex-direction: column;
}

#header {
    height: 10%;
    color: white;
    background-color: black;
    font-size: xx-large;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sketch-pad {
    height: 70%;
    border: 16px solid black;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#controls {
    height: 20%;
    flex: 1 0 auto;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}